<h1>Розміри стандартних комплектів</h1>


<hr class="border border-primary border-3 opacity-75">
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">

    <div class="card mb-4 rounded-3 shadow-sm" style="width: 18rem;">
      <img src="photo/mimimi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Півтораспальний комплект</h5>
        <p class="card-text">2430 грн</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">простирадло 200х240(з урахуванням висоти матрацу)</li>
        <li class="list-group-item">підковдра 160х220</li>
        <li class="list-group-item">наволочка 50х70 або 70х70 (за бажанням) 2 шт
        </li>
      </ul>
      <div class="card-body">
        <a href="#orderme" class="card-link">Замовити</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" style="width: 18rem;">
      <img src="photo/canvas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Двоспальний комплект</h5>
        <p class="card-text">2 950 грн</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">простирадло 230х260(з урахуванням висоти матрацу)</li>
        <li class="list-group-item">підковдра 180х220</li>
        <li class="list-group-item">наволочка 50х70 або 70х70 (за бажанням) 2шт</li>
      </ul>
      <div class="card-body">
        <a href="#orderme" class="card-link">Замовити</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" style="width: 18rem;">
      <img src="photo/pack.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Євро</h5>
        <p class="card-text">3 550 грн</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">простирадло 240х260(з урахуванням висоти матрацу)</li>
        <li class="list-group-item">підковдра 200х220</li>
        <li class="list-group-item">наволочка 50х70 або 70х70 (за бажанням) 2шт</li>
      </ul>
      <div class="card-body">
        <a href="#orderme" class="card-link">Замовити</a>
      </div>
    </div>
  </div>
</div>


<div id="orderme" class="card mb-4 rounded-3 shadow-sm border-primary">
  <div class="card-header py-3 text-bg-primary border-primary">
    <h4 class="my-0 fw-normal">Залишіть нам заявку</h4>
  </div>
  <div class="card-body">

    <form class="row g-3">
      <div class="col-12">
        <label for="userName" class="form-label">Ваше імя</label>
        <input type="text" class="form-control" id="userName">
      </div>
      <div class="col-md-6">
        <label for="tel" class="form-label">Email</label>
        <input type="tel" class="form-control" id="tel" required  placeholder="+3 093 xxx xx xx">
      </div>
      <!-- <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Підтверджую вибір
          </label>
        </div>
      </div> -->
      <div class="col-12">
        <button type="submit" class="w-100 btn btn-lg btn-primary">Надіслати</button>
      </div>
    </form>
  </div>
</div>


<!-- <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div> -->

